<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">跳转:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label id="page">
                    <input  name="row[type]" type="radio" value="0" checked /> 小程序页面
                </label>
                <label id="select_app">
                    <input  name="row[type]" type="radio" value="1"  /> 小程序
                </label>
            </div>
        </div>
    </div>

    <div class="form-group hide" id="appid">
        <label class="control-label col-xs-12 col-sm-2">跳转小程序APPID:</label>
        <div class="col-xs-12 col-sm-8">
            <input   class="form-control" name="row[appid]" type="text" data-tip="设置后需要重新上传小程序审核并在微擎上添加APPID">
        </div>
    </div>

    <div class="form-group hide"  id="pages">
        <label class="control-label col-xs-12 col-sm-2">跳转的小程序页面:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="jump_page" class="form-control" name="row[app_url]" type="text" data-tip="小程序页面路径，不填则默认跳到首页">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-img" class="form-control form-control" data-rule="required" size="50" name="row[img]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-img" class="btn btn-danger plupload" data-input-id="c-img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-img" class="btn btn-primary fachoose" data-input-id="c-img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-img"></ul>
        </div>
        <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>建议尺寸大小</span>
    </div>

    <div class="form-group" id="path">
        <label class="control-label col-xs-12 col-sm-2">{:__('Path')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select("row[path]",$pageUrl)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Disabled')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios("row[disabled]", [0=>__('Disabled 0'),1=>__('Disabled 1')],0)}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
