<form id="price-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="setting/eleme">

    <div class="form-group"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否开启正式环境:</label>
        <div class="col-xs-12 col-sm-2">
            {:build_radios('eleme_switch', ['0'=>'关闭', '1'=>'开启'], !empty($result['eleme_switch']) ? $result['eleme_switch'] : '')}
        </div>
        <span class="help-block text-danger"><i class="fa fa-info-circle mr-xs"></i>关闭情况下,仅可使用沙箱环境测试（注：开启后测试的商家账号无法授权使用; 正式环境与沙箱环境Key和Secret不一样，切换环境请注意更改）</span>
    </div>
    <div class="form-group"></div>

    <div class="form-group">
        <label for="c-eleme_logo" class="control-label col-xs-12 col-sm-2">应用logo:</label>
        <div class="col-xs-12 col-sm-3">
            <div class="input-group">
                <input id="c-eleme_logo" data-rule="required" class="form-control" size="50" name="eleme_logo" type="text" value="{$result['eleme_logo'] ?? ''}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-eleme_logo" class="btn btn-success plupload" data-input-id="c-eleme_logo" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-eleme_logo"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-eleme_logo"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-eleme_logo"></ul>
        </div>
        <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>建议尺寸大小(宽*高): 200*200,用于商家授权应用的回调页面展示</span>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">应用名称：</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" data-rule="required" value="{$result['eleme_name'] ?? ''}" name="eleme_name" placeholder="请输入应用名称">
        </div>
        <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>饿了么开放平台创建的应用名称,用于商家授权应用的回调页面展示</span>
    </div>
    <div class="form-group"></div>


    <div class="form-group">
        <label class="col-sm-2 control-label">开放平台应用Key：</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" data-rule="required" value="{$result['eleme_key'] ?? ''}" name="eleme_key" placeholder="请输入Key">
        </div>
        <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>饿了么开放平台创建应用所获得的Key</span>
    </div>
    <div class="form-group"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开放平台应用Secret：</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" data-rule="required" value="{$result['eleme_secret'] ?? ''}" name="eleme_secret" placeholder="请输入Secret">
        </div>
        <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>饿了么开放平台创建应用所获得的Secret</span>
    </div>
    <div class="form-group"></div>

    <div class="form-group" style="margin-bottom:0;">
        <label class="col-sm-2 control-label">推送URL：</label>
        <div class="col-sm-6">
            <p class="form-control-static  text-info">{$result['callapi_url'] ?? ''}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-6">
            <p class="form-control-static">
                <i class="fa fa-info-circle mr-xs"></i>饿了么开放平台 创建应用时，需复制此链接到应用中设置的-推送URL
            </p>
        </div>
    </div>
    <div class="form-group"></div>

    <div class="form-group"  style="margin-bottom:0;">
        <label class="col-sm-2 control-label">回调地址URL：</label>
        <div class="col-sm-6">
            <p class="form-control-static text-info">{$result['callback_url'] ?? ''}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-6">
            <p class="form-control-static">
                <i class="fa fa-info-circle mr-xs"></i>饿了么开放平台 创建应用时，需复制此链接到应用中设置的-回调地址URL
            </p>
        </div>
    </div>
    <div class="form-group"></div>

    <div class="form-group"  style="margin-bottom:0;">
        <label class="col-sm-2 control-label">商家授权本平台URL：</label>
        <div class="col-sm-10">
            <p class="form-control-static text-info">{$result['shop_auth_url'] ?? ''}</p>
        </div>
    </div>

    <div class="form-group" style="padding: 20px">
        <label class="col-sm-2 control-label">商家授权后的回调页面说明内容：</label>
        <div class="col-sm-6">
            <textarea class="form-control editor" name="eleme_desc">{$result['eleme_desc'] ?? ''}</textarea>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <!--<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>