<div class="panel panel-default panel-intro" style="-webkit-box-shadow:none;box-shadow: none">
    <div class="panel-heading">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#order" data-toggle="tab">基本信息</a></li>
            <li><a href="#address" data-toggle="tab">订单地址</a></li>
            <li><a href="#rider" data-toggle="tab">接单司机</a></li>
        </ul>
    </div>
</div>
<style>
    .form-horizontal{margin-top: 18px}
</style>
<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="order">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">订单号:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">下单用户:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">座位信息:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">下单线路:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <span class='text-warning'></span>
                        </p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">价格:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">预约时间:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static"></p>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-2 control-label">订单价格:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">实际支付:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">下单时间:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">备注:</label>
                    <div class="col-xs-12 col-sm-8">
                        <p class="form-control-static"></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade in" id="address">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">联系人:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">联系电话:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">出发地:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <hr>


                <div class="form-group">
                    <label class="col-sm-2 control-label">目的地:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade in" id="rider">
            <div class="form-horizontal">
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">接单司机:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>
                    <label class="col-sm-2 control-label">联系电话:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">服务得分:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">评价标签:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">司机行程:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">行程用时:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">送达时间:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>

                    <label class="col-sm-2 control-label">完成(评价)时间:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">接单时间:</label>
                    <div class="col-sm-3">
                        <p class="form-control-static"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>